<!DOCTYPE html> 
<html> 
<head> 
    <title>¡RADvisor!</title> 
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <link rel="stylesheet" href="public/stylesheets/styles.less" />
    <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    <script src="/javascripts/jqm-config.js"></script>
    <script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />

    <script src="/javascripts/xdate.js"></script>
    <script src="/javascripts/xdate.i18n.js"></script>
    <script src="/javascripts/mobipick.js"></script>
    <link rel="stylesheet" href="stylesheets/mobipick.css" />
    
    <script src="http://underscorejs.org/underscore-min.js"></script>
    <script src="http://backbonejs.org/backbone-min.js"></script>
    <script src="/javascripts/jquery-cookie.js"></script>
    <script src="/javascripts/app.js"></script>
</head> 
<body> 

    <div data-role="page" id="eventsPage">
            <div data-role="header">
                <a href="#/locations" data-rel="dialog" data-role="button" data-mini="true" data-inline="true">
                    <img class="countryIcon"/>
                </a>

                <h1 class="logo-header">
                    <a><img class="logo" src="/images/radvisor_logo.png"/></a>
                </h1>
            </div>

            <div data-role="navbar" class="date-selection">
                <ul>
                    <li><a href="#" class="todayName">.</a></li>
                    <li><a href="#/tomorrow" class="tomorrowName">.</a></li>
                    <li>
                        <a class="calendar">
                            <img src="/images/calendar4.png"/>
                        </a>
                        <input id="datePicker" type="text" style="display:none;"/>
                    </li>
                </ul>
            </div>

            <div data-role="content">
            </div>
            <div data-role="footer" class="footer">
                <h6>This is a hack by <a href="http://twitter.com/codazzo">codazzo</a></h6>
                <h6>Copyright © 2012 <a href="http://www.residentadvisor.net/">Resident Advisor Ltd.</a></h6>
            </div>
    </div>

    <div data-role="page" id="eventPage">
            <div data-role="header">
                <a class="goback" data-icon="back">Back</a>
                <h1 class="title"></h1>
            </div>
            <div data-role="content">
            </div>
    </div>

    <div data-role="page" id="locationsPage">
            <div data-role="header">
                <a class="goback" data-icon="back">Back</a>
                <h1 class="title">Choose your location</h1>
            </div>
            <div data-role="content">
            </div>
    </div>

    <div data-role="page" id="djPage">
            <div data-role="header">
                <a class="goback" data-icon="back">Back</a>
                <h1 class="title"></h1>
            </div>
            <div data-role="content">
            </div>
    </div>


    <script id="events-template" type="text/x-underscore-template">
        <ul class="listView" data-role="listview">
            {% _.each(events, function(event) { %}
                <li class="eventLi">
                    <a href="#/event/{{event.id}}" data-transition="pop">
                        <img class="ui-li-thumb ui-corner-tl" src="{{event.img}}" />
                        <h3 class="ui-li-heading">{{event.title}}</h3>
                        <p class="ui-li-desc">{{event.venue}}</p>
                        <span class="ilb ui-li-count">{{event.ppl}}</span>
                    </a>
                </li>
            {% }); %}
        </ul>    
    </script>

    <script id="event-template" type="text/x-underscore-template">
        {% if(img){ %}
            <img class="eventImg" src="{{img}}" />
        {% } %}
        <ul class=".nobullets">
            <li>
                <span class="key">Venue</span>: {{venue}}
            </li>
            <li><span class="key">Address</span>: {{address}} (<a href="http://maps.google.com/maps?q={{address}}">map</a>)
            </li>
            <li><span class="key">Date</span>: {{date}}</li>
            <li><span class="key">Time</span>: {{time}}</li>
        </ul>
        <hr/>
            {% _.each(extraInfo, function(value, key){ %}
                <b>{{key}}</b>
                <div>{{value}}</div>
                <br/>
            {% }) %}
            <hr/>
            {{extraStrings}}
    </script>

    <script id="locations-template" type="text/x-underscore-template">
            <div class="ui-grid-a oneline">
                <div class="ui-block-a">
                    <label>Country:</label>
                </div>
                <select class="ui-block-b" id="countrySelect">
                    {% _.each(regions, function(region){ %}
                        <option
                            {% if(region.name == currentCountry){ %}
                                selected="selected"
                            {% } %}
                            data-img = "{{region.img}}"
                        >
                            {{region.name}}
                        </option>
                    {% }); %}
                </select>
            </div>
            <div class="ui-grid-a oneline">
                <div class="ui-block-a">
                    <label>City:</label>
                </div>
                <select class="ui-block-b" id="regionSelect">
                    {% _.each(countryRegions, function(countryRegion){ %}
                        <option
                            {% if(countryRegion.name == currentRegion){ %}
                                selected="selected"
                            {% } %}
                            data-id = "{{countryRegion.id}}"
                            data-name="{{countryRegion.name}}"
                        >
                            {{countryRegion.name}}
                        </option>
                    {% }); %}
                </select>
            </div>

        <fieldset class="ui-grid-a">
                <div class="ui-block-a"><a href="#" type="submit" data-theme="d">Cancel</a></div>
                <div class="ui-block-b"><button id="locationSubmit" type="submit" data-theme="b">Submit</button></div>
        </fieldset>
        <!--
        <div class="locationsList" data-role="collapsible-set" data-inset="false">
            {% _.each(regions, function(region){ %}
                <div data-role="collapsible" data-theme="b" class="regionLi">
                    <h2>
                        <img class="countryIcon" src="{{region.img}}" />
                        {{region.name}}
                    </h2>
                    <ul class="regionContent" data-role="listview">
                    {% _.each(region.regions, function(subregion){ %}
                        <li class="region">
                            <a href="#"
                                data-id = "{{subregion.id}}"
                                data-country = "{{region.name}}"
                                data-name="{{subregion.name}}"
                                data-img = "{{region.img}}"
                                class="location">
                                    {{subregion.name}}
                            </a>
                        </li>
                    {% }); %}
                    </ul>
                </div>
            {% }); %}
        </div>
        -->
    </script>

    <script id="dj-template" type="text/x-underscore-template">
        <h2>{{name}}</h2>
        {% if(img){ %}
            <div><img class="eventImg" src="{{img}}" /></div>
        {% } %}
        <ul>
            {% _.each(links, function(value, key){ %}
                <li><a href="http://{{value}}">{{key}}</a></li>
            {% }); %}
        </ul>
    </script>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-36554785-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

</body>
</html>
