<!DOCTYPE html> 
<html> 
<head> 
    <title>¡RADvisor!</title> 
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <link rel="stylesheet" href="public/stylesheets/styles.less.css" />
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />

    <!--script src="http://192.168.2.102:8080/target/target-script-min.js" ></script-->
    <!--script src="http://192.168.12.63:8080/target/target-script-min.js" ></script-->

    <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    <script src="/javascripts/libs/jqm-config.js"></script>
    <script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
    <script src="http://underscorejs.org/underscore-min.js"></script>
    <script src="http://backbonejs.org/backbone-min.js"></script>
</head> 
<body> 

    <div data-role="page" id="eventsPage">
            <div data-role="header">
                <a href="#/locations" data-rel="dialog" data-role="button" data-mini="true" data-inline="true">
                    <img class="countryIcon"/>
                </a>

                <h1 class="logo-header">
                    <a><img class="logo" src="/images/radvisor_logo.png"/></a>
                </h1>
            </div>

            <div data-role="navbar" class="date-selection" style="display:none;">
                <ul>
                    <li><a href="#" class="todayName">.</a></li>
                    <li><a href="#/tomorrow" class="tomorrowName">.</a></li>
                    <li>
                        <a class="calendar">
                            <img src="/images/calendar4.png"/>
                        </a>
                        <input id="datePicker" type="text" style="display:none;"/>
                    </li>
                </ul>
            </div>

            <div data-role="content">
            </div>
            <div data-role="footer" class="footer">
                <h6>This is a hack by <a href="http://twitter.com/codazzo">codazzo</a></h6>
                <h6>Copyright © 2012 <a href="http://www.residentadvisor.net/">Resident Advisor Ltd.</a></h6>
            </div>
    </div>

    <div data-role="page" id="eventPage">
            <div data-role="header">
                <a class="goback" data-icon="back">Back</a>
                <h1 class="title"></h1>
            </div>
            <div data-role="content">
            </div>
    </div>

    <div data-role="page" id="locationsPage">
            <div data-role="header">
                <a class="goback" data-icon="back">Back</a>
                <h1 class="title">Choose your location</h1>
            </div>
            <div data-role="content">
            </div>
    </div>

    <div data-role="page" id="djPage">
            <div data-role="header">
                <a class="goback" data-icon="back">Back</a>
                <h1 class="title"></h1>
            </div>
            <div data-role="content">
            </div>
    </div>


    <script id="events-template" type="text/x-underscore-template">
        {{{ this.templates.events }}}
    </script>

    <script id="event-template" type="text/x-underscore-template">
        {{{ templates.event }}}
    </script>

    <script id="locations-template" type="text/x-underscore-template">
        {{{ templates.locations }}}
    </script>

    <script id="dj-template" type="text/x-underscore-template">
        {{{ templates.dj }}}
    </script>
    <script id="dj-about-template" type="text/x-underscore-template">
        {{{ templates.dj_about }}}
    </script>
    <script id="dj-tracks-template" type="text/x-underscore-template">
        {{{ templates.dj_tracks }}}
    </script>
    <script id="dj-events-template" type="text/x-underscore-template">
        {{{ templates.dj_events }}}
    </script>

    <script id="track-template" type="text/x-underscore-template">
        {{{ templates.track }}}
    </script>

    <script type="text/javascript">
        _.templateSettings = {
            evaluate    : /\{%([\s\S]+?)%\}/g,
            interpolate : /\{\{(.+?)\}\}/g,
            escape : /\{\{\{(.+?)\}\}\}/g
        };
    </script>

    {{#if env.isProduction }}
        <script type="text/javascript">
            {{{nbl}}}
            nbl.l([ 3500,
                '/minified/app.js',
                function(){
                    nbl.l(['/minified/libs.js',
                        'public/stylesheets/mobipick.css',
                        'public/stylesheets/font-awesome-more.less.css',
                        'public/stylesheets/themes/all_themes_with_soundcloud.min.css',
                        function(){
                            radvisor.bus.trigger("loaded:datepicker");
                        }
                    ]);
                }
            ]);
        </script>
    {{else}}
        {{#each deps}}
            {{#each this.files}}
                <script src="{{../path}}{{this}}"></script>
            {{/each}}
        {{/each}}
    {{/if}}
    

    <script src="http://connect.soundcloud.com/sdk.js"></script>
    <script type="text/JavaScript">
      SC.initialize({
          client_id: "4ff5e4db53c28af7f588fe2a9bf80208",
          redirect_uri: "unused"
      });
    </script>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-36554785-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

</body>
</html>
