<!DOCTYPE html> 
<html> 
<head> 
    <title>Your RESTful advisor</title> 
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
    <link rel="stylesheet" href="public/stylesheets/styles.less" />
    <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    <script src="/javascripts/jqm-config.js"></script>
    <script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.js"></script>
    <script src="http://underscorejs.org/underscore-min.js"></script>
    <script src="http://backbonejs.org/backbone-min.js"></script>
    <script src="http://cloud.github.com/downloads/wycats/handlebars.js/handlebars-1.0.rc.1.js"></script>
    <script src="/javascripts/handlebars-helpers.js"></script>
    <script src="/javascripts/jquery-cookie.js"></script>
    <script src="/javascripts/app.js"></script>

</head> 
<body> 

    <div data-role="page" id="eventsPage">
            <div data-role="header">
                <a href="/#" data-icon="back">Back</a>
                <h1>Hello!</h1>
            </div>
            <div data-role="content">
            </div>
    </div>

    <div data-role="page" id="eventPage">
            <div data-role="header">
                <a href="/#" data-icon="back">Back</a>
                <h1 class="title"></h1>
            </div>
            <div data-role="content">
            </div>
    </div>

    <div data-role="page" id="locationsPage">
            <div data-role="content">
            </div>
    </div>
    <div data-role="page" id="datesPage">
            <div data-role="content">
            </div>
    </div>


    <script id="events-template" type="text/x-handlebars-template">            
        Hello! Here's what's happening in
        <a href="#/locations" data-rel="dialog" data-role="button" data-mini="true" data-inline="true">
            <img class="countryIcon" src="{{location.img}}" />
            {{location.name}}
        </a>
        {{#if isTonight}}
            tonight,
        {{else}}
            on
        {{/if}}
        <a href="#/dates" data-role="button" data-mini="true" data-inline="true">{{date}}</a>
        .
        <ul class="listView" data-role="listview" data-inset="true">
            {{#each events}}
                <li class="eventLi">
                    <img class="ilb" src="{{this.img}}" />
                    <a class="ilb" href="#/event/{{this.id}}" data-transition="pop">{{this.title}}</a>
                    <span class="ilb ui-li-count">{{this.ppl}}</span>
                </li>
            {{/each}}
        </ul>    
    </script>

    <script id="event-template" type="text/x-handlebars-template">
        {{#if img}}
            <img class="eventImg" src="{{img}}" />
        {{/if}}
        <ul class=".nobullets">
            <li>
                <span class="key">Venue</span>: {{venue}}
            </li>
            <li><span class="key">Address</span>: {{address}} (<a href="http://maps.google.com/maps?q={{address}}">map</a>)
            </li>
            <li><span class="key">Date</span>: {{date}}</li>
            <li><span class="key">Time</span>: {{time}}</li>
        </ul>
        <hr/>
            {{#key_value extraInfo}}
                <b>{{key}}</b>
                <div>{{value}}</div>
                <br/>
            {{/key_value}}
    </script>

    <script id="locations-template" type="text/x-handlebars-template">
        Choose your location:
        <div class="locationsList" data-role="collapsible-set" data-inset="false">
            {{#each regions}}
                <div data-role="collapsible" data-theme="b" class="regionLi">
                    <h2>
                        <img class="countryIcon" src="{{this.img}}" />
                        {{this.name}}
                    </h2>
                    <ul class="regionContent" data-role="listview">
                    {{#each this.regions}}
                        <li class="region">
                            <a href="#"
                                data-id = "{{this.id}}"
                                data-country = "{{../name}}"
                                data-name="{{this.name}}"
                                data-img = "{{../img}}"
                                class="location">
                                    {{this.name}}
                            </a>
                        </li>
                    {{/each}}
                    </ul>
                </div>
            {{/each}}
        </ul>    
    </script>

    <script id="dates-template" type="text/x-handlebars-template">
        <h1>Choose a date:</h1>
        <div data-role="fieldcontain">
            <fieldset data-role="controlgroup" data-type="horizontal"> 
                <label for="select-choice-day">Day</label>
                <select name="select-choice-day" id="select-choice-day">
                    <option class="null">Day</option>
                    {{#each days}}
                        <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>

                <label for="select-choice-month">Month</label>
                <select name="select-choice-month" id="select-choice-month">
                    <option class="null">Month</option>
                    {{#each months}}
                        <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
            
            
                <label for="select-choice-year">Year</label>
                <select name="select-choice-year" id="select-choice-year">
                    <option class="null">Year</option>
                    {{#each years}}
                        <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
            </fieldset>
        </div>
        or
        <div>
            <a id="tonight" data-icon="arrow-r" data-role="button" data-inline="true">Tonight</a>
        </div>
        <div class="bottomBar">
            <a id="datecancel" data-icon="delete" data-role="button" data-inline="true">Cancel</a>
            <a id="dateok" data-icon="check" data-role="button" data-inline="true" data-theme="b">Save</a>
        </div>
    </script>


    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-36554785-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

</body>
</html>
