//events
.eventLi {
	img {
		max-width: 50px;
		padding: 0.4em 10px;
		float: left;
	}
	a {
		padding-left: 0px !important;
	}
}

.ilb {
	display: inline-block !important;
}




//event
.eventImg {
	max-width: 300px;
}
ul {
	padding-left: 0px;
    list-style-type: none; //no bullets :P
    .key {
    	font-weight: bold;
    }
}