//general
.ilb {
    display: inline-block !important;
}

.oneline {
    > * {
        display: inline-block !important;
    }
}

#eventsPage{
    .ui-block-c {
        .ui-btn-inner {
            padding: 0.25em;
        }
    }

    .countryIcon {
        vertical-align: top;
    }

    .eventLi {

        a {
            padding: 0em;
            padding-left: 5em;
            h3 {
                width: 70%;
            }
            img {
                max-width: 4em;
                padding: 0.7em 0.5em;
            }
        }
    }

    .logo-header{
        margin: .4em 10% .4em;
        .logo {
            height: 1.8em;
        }
    }

    .footer {
        h6 {
            font-size: 0.7em;
        }
    }
}


#eventPage{
    .eventImg {
        max-width: 300px;
    }
    ul {
        padding-left: 0px;
        list-style-type: none; //no bullets :P
        .key {
            font-weight: bold;
        }
    }

    .ui-content {
        a[data-role=button]:first-child, br + a[data-role=button] {
            margin-left: -0.6em;
        }
    }

}


#locationsPage {
    .countryIcon{
        position: relative;
        left: -3px;
    }

    label {
        float: right;
        margin-top: 1.2em;
    }
}


#djPage {
    div[data-role=content]{
        padding-top: 0px;
    }

    .soundcloud_img {
        margin: 0.5em 0em 0em 0.5em;
    }
    #tracks {
        li {
            display: block;
        }
        i {
            display: inline-block;
        }

        .track-entry {
            text-align: left;
        }
    }
}

#mapPage {
    .logo-header{
        margin: .4em 10% .4em;
        .logo {
            height: 1.8em;
        }
    }
}
