//general
.ilb {
    display: inline-block !important;
}

.oneline {
    > * {
        display: inline-block !important;
    }
}

#eventsPage{
    .ui-block-c {
        .ui-btn-inner {
            font-size: 1.5em;
            padding-top: 0.15em;
            padding-bottom: 0.2em;
        }
    }

    .ui-block-a,.ui-block-b,.ui-block-c {
        > a {
            height: 2.3em;            
        }
    }

    .ui-header {
        > a {
            top: 5px; //align map and country icons
        }
        .countryIcon {
            vertical-align: top;
        }

        .map-icon, .locations-icon {
            .ui-btn-inner {
                padding-top: 0.35em;
                padding-bottom: 0em;
                .ui-btn-text {
                    * { vertical-align: middle; }
                }
            }
            i {
                font-size: 1.7em;
            }
        }        
    }

    .logo-header{
        margin: .4em 10% .4em;
        .logo {
            height: 1.8em;
        }
    }

    .footer {
        h6 {
            font-size: 0.7em;
        }
    }
}

.eventLi {
    a {
        padding: 0em !important;
        padding-left: 5em !important;
        h3 {
            width: 70%;
        }
        img {
            max-width: 4em;
            padding: 0.7em 0.5em;
        }
    }
}


#eventPage{
    .eventImg {
        max-width: 300px;
    }
    ul {
        padding-left: 0px;
        list-style-type: none; //no bullets :P
        .key {
            font-weight: bold;
        }
    }

    .ui-content {
        a[data-role=button]:first-child, br + a[data-role=button] {
            margin-left: -0.6em;
        }
    }

}


#locationsPage {
    label {
        float: right;
        margin-top: 1.2em;
    }
}


#djPage {
    div[data-role=content]{
        padding-top: 0px;
    }

    .soundcloud_img {
        margin: 0.5em 0em 0em 0.5em;
    }
    #tracks {
        li {
            display: block;
        }
        i {
            display: inline-block;
        }

        .track-entry {
            text-align: left;
        }
    }
}

#mapPage {
    .logo-header{
        margin: .4em 10% .4em;
        .logo {
            height: 1.8em;
        }
    }

    .infoNodeWrapper {
        li {
            padding-top: 10px;
            padding-bottom: 10px;
            a {
                > * {
                    vertical-align: middle;
                    width: 300px;
                }
                .ui-li-count {
                    display: none !important;
                }
            }
        }
    }
}

/*
* Mixins
*/
.gradient (@startColor: #eee, @endColor: white) {
    background-color: @startColor;
    background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
    background: -webkit-linear-gradient(top, @startColor, @endColor);
    background: -moz-linear-gradient(top, @startColor, @endColor);
    background: -ms-linear-gradient(top, @startColor, @endColor);
    background: -o-linear-gradient(top, @startColor, @endColor);
}