//general
.ilb {
    display: inline-block !important;
}

.oneline {
    > * {
        display: inline-block;
    }
}

#eventsPage{
    .countryIcon {
        vertical-align: top;    
    }

    .eventLi {
        img {
            max-width: 50px;
            padding: 0.4em 10px;
            float: left;
        }
        a {
            padding-left: 0px !important;
            width: 60%;
        }
    }

    .logo {
        height: 20px;
    }

    .footer {
        h6 {
            font-size: 0.7em;
        }
    }
}


#eventPage{
    .eventImg {
        max-width: 300px;
    }
    ul {
        padding-left: 0px;
        list-style-type: none; //no bullets :P
        .key {
            font-weight: bold;
        }
    }
    
}


#locationsPage {
    .countryIcon{
        position: relative;
        left: -3px;
    }

    label {
        float: right;
        margin-top: 1.2em;
    }
}